.home-page {
  margin-top: 80px;
  min-height: 100vh;
  flex-direction: row;
  /* padding: 0 50px; */
}
.content {
  width: 100%;
  max-width:60%;
  text-align: center;
  margin-bottom: 130px;
  padding: 0 50px;
  text-wrap: balance;
}

.heading {
  /* color: #1CC099; */
  background: linear-gradient( 60deg,#1cc099, #0087fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-top: 180px;
  margin-left: 180px;
  font-size: 3.5em;
  margin-bottom: 20px;
  font-family: "Inknut Antiqua", serif;
  line-height: 1.4;
  text-align: left;
}

.download-button {
  display: inline-flex;
  align-items: center;
  background-color: #000000;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #343434;
}

.button-logo {
  width: 30px;
  margin-right: 10px;
}

.button-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.platform {
  font-size: 0.8rem;
}

.download-now {
  font-size: 1rem;
  font-weight: bold;
}

.Partners {
  color: #383838;
  font-weight: 800;
  font-size: 1.5em;
  font-family: "Inknut Antiqua", serif;
}
.container1 {
  padding: 80px;
  font-family: "Sofadi One", system-ui;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(#ffd36c, #ff5353); /* Add gradient */
  font-size: 40px;
}
.container2 {
  padding: 80px;
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(#eccfcf, #a85dc2); /* Add gradient */
  font-size: 40px;
}
.container3 {
  background: linear-gradient(#1CC099, #0087fd); /* Add gradient */
  height: 300px;
}

.container4 {
  background: linear-gradient(#e760aa, #bf66dc); /* Add gradient */
  height: 300px;
}
