/* Base styles for the navbar */
.navbar {
    border-radius: 2px;
    border-color: aliceblue;
    background-color: black;
    padding: 10px;
    padding-left: 0px;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items in the center */
}

.navList {
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-right: 20px;
}

.navItem {
    margin: 0 15px;
}

.navLink {
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    font-family: serif;
}

.navLink:hover {
    color: #CF5E0D;
}

.logo {
    max-width: 200px;
    max-height: 60.2px;
}

/* Hide the dropdown by default */
.menu-icon {
    margin-right: 20px;
    display: none; /* Hidden on larger screens */
    font-size: 30px;
    color: white;
    cursor: pointer;
}

/* Mobile-specific styles */
@media (max-width: 576px) {
    .navList {
        display: none; /* Hide nav items on mobile by default */
        flex-direction: column; /* Stack nav items vertically */
        background-color: black; /* Dropdown background color */
        position: absolute; /* Position dropdown absolutely */
        top: 60px; /* Position below navbar */
        right: 0;
        width: 100%; /* Full width on mobile */
        padding: 10px 0;
    }

    .navList.open {
        display: flex; /* Show nav items when 'open' class is present */
    }

    .navItem {
        margin: 10px 0;
        margin-left: 40px;

    }

    .menu-icon {
        display: block; /* Show the menu icon on mobile */
    }
}
