/* Base styles for the navbar */
.navbar {
    border-radius: 2px;
    border-color: aliceblue;
    background-color: black;
    padding: 10px;
    padding-left: 0px;
    height: 60px;
    position: fixed; 
    top: 0;
    width: 100%; 
    z-index: 1000; 
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.navList {
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-right: 20px;

}

.navItem {
    margin: 0 15px;
}

.navLink {
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    font-family: serif;
}
.navLink:hover {
    color: #CF5E0D;
    /* color:#1cc099; */
    
    /* background: linear-gradient( #1cc099, #0087fd); */
  
  /* Set the background size */
  /* -webkit-background-clip: text; */
  
  /* Make the background visible only on the text */
  /* -webkit-text-fill-color: transparent; */
  
  /* This is to ensure it works in some older browsers */
  /* background-clip: text; */
  /* text-fill-color: transparent; */
}

.logo{
    margin-left: 0px;
    max-width: 200px;
    max-height: 60.2px;
}