/* Base styles for the navbar */
.navbar {
    border-radius: 2px;
    border-color: aliceblue;
    background-color: black;
    padding: 10px;
    padding-left: 0px;
    height: 60px;
    position: fixed; 
    top: 0;
    width: 100%; 
    z-index: 1000; 
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
}

.navList {
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-right: 10px;
}

.navItem {
    margin: 0 15px;
}

.navLink {
    color: white;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    font-family: 'Inknut Antiqua', serif;
}
.navLink:hover {
    color: #CF5E0D;
}

.logo{
    margin-left: 0px;
    max-width: 200px;
    max-height: 60.2px;
}